<!DOCTYPE html>
<html lang="en">

    <head class="container-fluid">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
        <script src="https://kit.fontawesome.com/6427ebbfe5.js"></script>
        <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
        <title>IowaPen</title>
    </head>

    <body>
        <header id="header" class="container-fluid">
        </header>

        <section>
            <div id="section" class="row no-gutters bg-color-section "> <!-- section div row -->

                <div id="content" class="col-12 col-md-8 text-color-section section-column" style="padding-left: 10px; padding-right: 10px; ">
                
                        <div id="whatwhere" class="row section-text">

                            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="about-heading uppercase"><i class="about-icon fa fa-question" aria-hidden="true"></i> &nbsp; What is IowaPen?</h4>
                                        <p>
                                            IowaPen is a gathering of people interested in fountain pens, mechanical pencils and writing instruments of all kinds.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="about-heading uppercase"><i class="about-icon fas fa-comments" aria-hidden="true"></i> &nbsp; What do you do?</h4>
                                        <p>
                                            Calligraphy, penmanship, pen collecting, vintage pen restoration, nib tuning, ink testing/sharing, paper, pen turning, history and more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="about-heading uppercase"><i class="about-icon far fa-handshake" aria-hidden="true"></i> &nbsp; Where do you meet?</h4>
                                        <p>
                                            We have chapters in Des Moines (Central Iowa) and Cedar Rapids (Eastern Iowa) and coordinate with Midlands Pen Collectors in Omaha for pen folks in Western Iowa.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="about-heading uppercase"><i class="about-icon fas fa-share-alt" aria-hidden="true"></i> &nbsp; Are you on social media?</h4>
                                        <p>
                                            We certainly are! You'll find our social media links on Facebook, Twitter, and more at the bottom of each page of this site!
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end id=whatwhere" -->

                 <!-- Recent News -->

                        <div class="row no-gutters">
                            <div class="col text-color-section section-text">
                                <hr class="block-divider">
                                <h2 class="text-center upcoming-events-heading">RECENT NEWS</h2>
                            </div>
                        </div>

                        <div id="blogentries" class="col text-color-section"> 
                            <ul id="dataList">
                                <li v-for="item in items">
                                    <p class="blog-heading">{{ item['fields']['Title'] }}</a></p>
                                        <p class="blog-attribution"> by {{ item['fields']['Author'] }} - {{ item['fields']['FormattedDate'] }} &nbsp;&nbsp; </p>
                                    <pre class="blog-body">{{ item['fields']['Body'] }}</pre>
                                    <img :src="item['fields']['Photo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo']" width="150">
                                    <hr/>
                                </li>                            
                            </ul>
                            <p class="text-center">For older club and pen news, visit our <a href="penblog.html">Blog</a> page</p>
                        </div><!--blogentries-->

                <!-- Events -->

                        <div class="row no-gutters">
                            <div class="col text-color-section section-text">
                                <hr class="block-divider">
                                <h2 class="text-center upcoming-events-heading">UPCOMING EVENTS</h2>
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div id="eventlist" class="col text-color-section">  
                                    <table id="event-table" class="table-responsive-sm table-striped table-bordered table-hover mx-auto" >
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col"><strong>Date</strong></th>
                                                <th scope="col"><strong>Time</strong></th>
                                                <th scope="col"><strong>What</strong></th>
                                                <th scope="col"><strong>Topic</strong></th>
                                                <th scope="col"><strong>Location</strong></th>
                                                <!-- <th scope="col"><strong>Frequency</strong></th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in items">
                                                <th scope="row"> {{ item['fields']['DisplayDate'] }} </th>
                                                <td> {{ item['fields']['StartTime'] }} - {{ item['fields']['EndTime'] }} </td>
                                                <td><a :href="item['fields']['WhatURL']">  {{ item['fields']['What'] }} </a></td>
                                                <td> {{ item['fields']['Topic'] }} </td>
                                                <td><a :href="item['fields']['LocationURL']"> {{ item['fields']['LocationText'] }} </a></td>
                                                <!-- <td> {{ item['fields']['Frequency'] }} </td> -->
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="text-center">
                                                <th scope="col" colspan=6>If no event information appears above, your organization or ISP may be blocking AirTable.com</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                <p class="text-center">For many more pen events in the coming months, visit our <a href="penevents.html">Events</a> page</p>
                            </div><!--eventlist-->
                        </div>

                </div> <!-- end id=content -->

                <div id="navbuttons" class="col col-md-4 bg-color-menu section-column">
                </div>

            </div> <!-- end id=section div row -->

        </section>

        <footer id="footer" class="container-fluid">
        </footer>

        <div id="copyright" class="text-center">
            This website was created by and is copyright &copy; 2016-<script type="text/javascript">document.write( new Date().getFullYear() );</script> 
            by <a href="http://www.williambdavisjr.com/" target="_blank">Bill Davis</a> - All Rights Reserved.
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> <!-- dev version: https://unpkg.com/vue -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
        <!-- Vue/Axios JS code & HTML adapted from article at https://medium.com/row-and-table/an-basic-intro-to-the-airtable-api-9ef978bb0729 -->
        <script type='text/javascript'>

            // load page template elements from include_*.html files
                $( "#header" ).load( "include_header_flipped.html" );
                $( "#navbuttons" ).load( "include_section_navbuttons.html" );
                $( "#footer" ).load( "include_footer.html" );

            // load blog and events table data from AirTable DBs
            $(document).ready(function(){

                // load recent blog entries from database                
                var blog = new Vue({
                    el: '#blogentries',
                    data: {
                        items: []
                    },
                    mounted: function(){
                        this.loadItems(); 
                    },
                    methods: {
                        loadItems: function(){
                        // Init variables
                            var self = this;
                            var app_id = "appN54T0evXoEsb99";
                            var app_key = "keyZJuhIFuOIUcEev";
                            this.items = [];
                            axios.get(
                                "https://api.airtable.com/v0/"+app_id+"/Blog?view=MainPageView",
                                { 
                                    headers: { Authorization: "Bearer "+app_key } 
                                }
                            ).then( function(response){
                                self.items = response.data.records;
                            }).catch( function(error){
                                console.log(error);
                            });
                        }
                    }
                }); //end loading recent blog entries

                // load upcoming events from database
                var app = new Vue({
                    el: '#eventlist',
                    data: {
                        items: []
                    },
                    mounted: function(){
                    this.loadItems(); 
                    },
                    methods: {
                        loadItems: function(){
                        // Init variables
                            var self = this;
                            var app_id = "appmmieFZBQVOO2Pf";
                            var app_key = "keyZJuhIFuOIUcEev";
                            this.items = [];
                            axios.get(
                                "https://api.airtable.com/v0/"+app_id+"/Events?view=AllEventsInNext28Days",
                                { 
                                    headers: { Authorization: "Bearer "+app_key } 
                                }
                            ).then( function(response){
                                self.items = response.data.records;
                            }).catch( function(error){
                                console.log(error);
                            });
                        }
                    }
                }); //end loading events

            }); // end document.ready()

        </script>         

    </body>

</html>
