@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700|Amatic+SC:100,200,300,400,500,600,700|Indie+Flower&display=swap:100,200,300,400,500,600,700');


/* COLORS --------------------------------------------*/

body {
    background-color: #6b1919; 
    
}

a:link {
    color: steelblue;
}
a:visited {
    color: indigo;
}

.bg-color-heading {
    background-color: #6b1919; 
}

.bg-color-menu {
    background-color: #6b1919;  
}


.text-color-heading {
    color: #cbc5ad;
}

.bg-color-section {
    background-color: #cbc5ad;
}

.text-color-section {
    color:#6b1919; 
}

.bg-color-footer {
    background-color: #6b1919; 
}

.text-color-footer {
    color: #cbc5ad;
}

/* NAVIGATION MENU BUTTONS COLORS  ----------------------------------------------------------------- */

.nav-menu-color-home {
    background-color: darkgreen; /* for browsers that do not support gradients */
    background: linear-gradient(to top right, indigo 0%, darkgreen 100%);
}

.nav-menu-color-events {
    background-color: purple;
    background: linear-gradient(to top right, darkviolet  0%, indigo 100%);
}

.nav-menu-color-chapters {
    background-color: turquoise;
    background: linear-gradient(to top right, steelblue  0%, turquoise 100%);
}

.nav-menu-color-contacts {
    background-color: darkblue;
    background: linear-gradient(to top right, darkred  0%, darkblue 100%);
}

.nav-menu-color-resources {
    background-color: crimson;
    background: linear-gradient(to bottom right, crimson, gold);
}

.nav-menu-color-local {
    background-color: goldenrod;
    background: linear-gradient(to top left, darkblue  0%, darkgreen 100%);
}

.nav-menu-color-stores {
    background-color: teal;
    background: linear-gradient(to top left, teal 0%, blue 100%);
}

.nav-menu-color-clubs {
    background-color: olive;
    background: linear-gradient(to top left, darkgreen 0%, sienna 100%);
}

.nav-menu-color-shows {
    background-color: brown;
    background: linear-gradient(to top left, indianred  0%, darkred  100%);
}

.nav-menu-color-publications {
    background-color: sienna;
    background:  radial-gradient(peru, saddlebrown);
}

.nav-menu-color-blog {
    background-color: teal;
    background: linear-gradient(to top left, indigo 0%, sienna 100%);
}

.nav-menu-color-forum {
    background-color: olive;
    background: linear-gradient(to top left, goldenrod 0%, darkgreen 100%); 
}


/* CUSTOM MARGINS / PADDING / TEXT STYLING ---------------------- */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.inline-block {
    display: inline-block;
}


/* Block dividers (for <hr> tags) */

.block-divider {
    width: 85%;
    background-color: #fafafa;
}

.block-divider--offwhite {
    background-color: #fafafa;
}


/* HEADER ---------------------------------------------------*/

header {
    margin: 0;
}

.heading {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 200px ; 
    
}


.logo {
    background: url("../images/iowapen_logo_transparent_gold.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    min-width: 135px;
    min-height: 180px;
 }

.clubname {
    font-family: "Lobster", cursive;
    font-weight: 100;
    font-size: 72px;
    margin-top: 30px;
    text-align: center;
    color: goldenrod;
    background:     -webkit-radial-gradient(crimson, yellow);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
}

.fullname {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: goldenrod;
    background: -webkit-radial-gradient(goldenrod, yellow, goldenrod,yellow,goldenrod); /* or linear-gradient. May not need -webkit- */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* MENUS ----------------------------------------------*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 80px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 80px;
}

.menuitem a i {
    padding-top: 15px;
    display: block;
    color: #fafafa;
    font-size: 20px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Hover.css class styling for menus */

.hvr-back-pulse:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* SECTION -------------------------------------- */

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    text-align: center;

}

.section-text {
    font-family: Palatino, serif;
    font-weight: 100 ;
    font-size: 16px;
    font-style: italic; /* to simulate writing in more standard text */
    padding: 10px;
}


.about-icon {
    font-size: 26px;
    color: #6b1919;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
}

.about-heading {
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 15px;
}


/* FOOTER -------------------------------------- */

footer {
    min-height: 120px;
    margin: 0;
}


.footer-title {
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: goldenrod;
    background: -webkit-radial-gradient(goldenrod, yellow); /* or linear-gradient. May not need -webkit- */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.footer-text {
    font-family: "Indie Flower", serif;
    font-weight: 600;
    font-size: 18px;
}

.email-link i {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.email-link i:hover {
    color: orange;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: goldenrod;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: orange;
}

#footer-details {
    padding: 20px;

}




/* BOOTSTRAP TWEAKS -------------------------------------------------*/

.table-responsive-sm th,td {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    font-style: normal;
}


