@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');

/* COLORS --------------------------------------------*/

.bg-color-heading {
    background-color: #6d5624;
}

.text-color-heading {
    color: #cbc5ad;
}

.bg-color-section {
    background-color: #cbc5ad;
}

.text-color-section {
    color: #6d5624;
}

.bg-color-footer {
    background-color: #6d5624;
}

.text-color-footer {
    color: #cbc5ad;
}


/* HEADER ---------------------------------------------------*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    /* min-height: 360px; */
    
}


.logo {
    background: url("../images/iowapen_logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
 }

.clubname {
    font-family: "Lobster", cursive;
    font-weight: 100;
    font-size: 56px;
    margin-top: 50px;
    color: #fff;
}

.fullname {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}
