@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');

/* COLORS --------------------------------------------*/

.bg-color-heading {
    background-color: #6d5624;
}

.text-color-heading {
    color: #cbc5ad;
}

.bg-color-section {
    background-color: #cbc5ad;
}

.text-color-section {
    color: #6d5624;
}

.bg-color-footer {
    background-color: #6d5624;
}

.text-color-footer {
    color: #cbc5ad;
}


.nav-menu-color-home {
    background-color: darkgreen; /* for browserse that do not support gradients */
    background: linear-gradient(to top right, lightgreen 0%, darkgreen 100%);
}

.nav-menu-color-events {
    background-color: purple;
}

.nav-menu-color-chapters {
    background-color: turquoise;
}

.nav-menu-color-contacts {
    background-color: darkblue;
}

.nav-menu-color-resources {
    /* background-color: crimson; */
    background: linear-gradient(to bottom right, red, yellow);
}

.nav-menu-color-local {
    background-color: goldenrod;
}

.nav-menu-color-stores {
    background-color: orange;
}

.nav-menu-color-clubs {
    background-color: olive;
}

.nav-menu-color-shows {
    background-color: brown;
}

.nav-menu-color-publications {
    background-color: sienna;
    background:  radial-gradient(peru, saddlebrown);
}



/* HEADER ---------------------------------------------------*/

header {
    margin: 0;
}

.heading {
    margin-left: 30px;
    margin-right: 30px;
    /* min-height: 360px; */
    
}


.logo {
    background: url("../images/iowapen_logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
 }

.clubname {
    font-family: "Lobster", cursive;
    font-weight: 100;
    font-size: 56px;
    margin-top: 50px;
    color: #fff;
}

.fullname {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

/* MENUS ----------------------------------------------*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 80px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 80px;
}

.menuitem a i {
    padding-top: 15px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
